<html>

<head>

<title>Smith Family baseball: Add Team {{season}}</title>

<!-- CSS -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/starter-template/starter-template.css">

<!-- Javascript -->

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script type="text/javascript">

const max_salary = {{max_salary}}

const season = {{season}}

window.onload = function() {

	$.getJSON(`/data`, function(data) {

		localStorage.setItem('owners', JSON.stringify(data.owners))

		localStorage.setItem('players', JSON.stringify(data.players))

	})
}

function evaluate_team() {

	const owner_id = $("#owner_id").val()

	const players_raw = localStorage.getItem('players')

	const players = JSON.parse(players_raw)

	let roster = []

	let salary_total = 0

	const positions = ["C", "1B", "2B", "3B", "SS", "OF1", "OF2", "OF3", "SP1", "SP2", "SP3", "RP"]

	for (pos of positions) {
		console.log(pos)
		console.log("the id is: " + $("#" + pos).val())

		player_id = $("#" + pos).val()

		salary_total += players[player_id].salary

		if (roster.includes(player_id)) {
			alert("player " + player_id + " is already on this roster.")
			return
		}

		roster.push(player_id)
	}

	console.log("salary total: " + salary_total)

	if (salary_total > max_salary) {
		alert("the salary total is: " + salary_total)
		return
	}

	const team_obj = {
		bank: max_salary - salary_total,
		owner_id: owner_id,
		roster: roster,
		salary: salary_total,
		season: season,
		team_name: $("#team_name").val()
	}

	const settings = {
		"async": true,
		"crossDomain": true,
		"url": `/add_team`,
		"method": "POST",
		"headers": {
			"Content-Type": "application/json",
			"cache-control": "no-cache",
		},
		"processData": false,
		"data": JSON.stringify(team_obj)
	}

	$.ajax(settings).done(function (resp) {

		console.log("the response from the server was: ")

		console.dir(resp)

		if (resp.status == "ok") {
			alert("success!")
			// location.reload()
		}
	})
}

function select_owner() {

	const id = $("#owner_id").val()

	const owners_raw = localStorage.getItem("owners")

	const owners = JSON.parse(owners_raw)

	const owner = owners[id]

	$("#owners_dropdown_div").hide()

	$("#input_team_div").show()

	$("#owner_name").html(owner.LNF)

	$("#team_name").val(owner.most_recent_team_name)

}

</script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Add a team {{season}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">

		<div class="row" style = "margin-top: 25px;">

			<div class="col-md-6" style = "text-align: left;">

				<div id = "owners_dropdown_div">

					<h3>Select an owner</h3>

					<select id="owner_id" class="form-select" name="owner_id">
						{{#owners}}
						<option value="{{id}}">{{LNF}}</option>
						{{/owners}}
					</select>

					<br>

					<button id="select_owner" onclick="select_owner()" style="margin-top: 25px;">go</button>

				</div>

				<div id = "input_team_div" style = "display: none;">

					<div id = "owner_name_div">
						<p>Selected owner: <span id = "owner_name"></span></p>
					</div>

					<div id = "owner_team_name_div">
						<p>Team name:

							<input type = "text" id = "team_name"\>
						</p>
					</div>

					<table id = "players" class = "table" border = 0>

						{{#positions}}
						<tr>
							<td>{{display_name}}:</td>
							<td>
								<select id="{{id}}" size=5>
										{{#players}}
										<option value="{{id}}">{{lnf}} - {{team}} - ${{salary}}</option>
										{{/players}}
								</select>
							</td>
						</tr>
						{{/positions}}

					</table>

					<button id="submit_team" onclick="evaluate_team()">go</button>

				</div>

			</div>

		</div>

		<div class="col-sm"></div>

	</div>

</main><!-- /.container -->

</body>

</html>
